* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}
header {
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
}

nav {
	flex: 2;
}

.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
}